services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    ports:
      - "80:80"
      - "5173:5173"
    volumes:
      - ./:/var/www/html:cached
      - ./storage:/var/www/html/storage
      - ./public/storage:/var/www/html/public/storage
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=laravel
      - DB_USERNAME=laravel
      - DB_PASSWORD=root123
      - MAIL_MAILER=smtp
      - MAIL_HOST=mailhog
      - MAIL_PORT=1025
      - MAIL_USERNAME=null
      - MAIL_PASSWORD=null
      - MAIL_ENCRYPTION=null
    depends_on:
      - db
      - mailhog

  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: unless-stopped
    environment:
      - MYSQL_DATABASE=laravel
      - MYSQL_USER=laravel
      - MYSQL_PASSWORD=root123
      - MYSQL_ROOT_PASSWORD=root123
    ports:
      - "3307:3306"
    volumes:
      - laravel_db_data:/var/lib/mysql

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "8025:8025"
      - "1025:1025"
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80"       # host machine me http://localhost:8080
    environment:
      PMA_HOST: db       # db container ka name
      PMA_PORT: 3306
      
volumes:
  laravel_db_data:
